.main-section
  background-image: url("../img/main-section/main-back.jpg")
  .play-video
    margin-left: 16px
  .container
    position: relative
    padding-top: 198px
    padding-bottom: 198px
    .moon-image
      position: absolute
      right: -32px
      bottom: -112px
      &__moon
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -43%)
  .head-text
    margin-bottom: 48px
  .subheader-text
    text-align: left
    max-width: 570px
    margin-bottom: 48px
.play-video
  width: 48px
  height: 48px
  border-radius: 68px
  background-color: #5101A6
  display: flex
  justify-content: center
  align-items: center
.head-text
  color: #ffffff
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  font-size: 48px
  line-height: 56px